extends layout
block layout-content
    div.sessions
        table.status_table.table
            thead.thead-dark
                tr
                    th(style="text-align:center") Session 
                    th(style="text-align:center") Active 
                    th(style="text-align:center") Last Checkin
                    th 
            each i in items
                tr
                    th(style="text-align:center")=i.id 
                    if i.active
                        th.green_dot
                    else
                        th.red_dot
                    th(style="text-align:center")=i.last_checkin 
                    th(style="text-align:right") 
                        form(action='/manage/id', method="get")
                            button(type='submit', name="id", value=i.id)="manage"
