extends layout
block layout-content
    h1 LIST
    div.sessions
        table.table.table-striped
            thead
                tr
                    th Session 
                    th Active 
                    th Last Checkin
                    th 
            each i in items
                tr
                    th=i.id 
                    th=i.active 
                    th=i.last_checkin 
                    th 
                        form(action='/manage/id', method="get")
                            button(type='submit', name="id", value=i.id)="manage"
    div.control
        tr
            th
                form(action='/logout', method="get")
                    input(type='submit', value='logout')
            th   
                form(action='/manage/create', method="get")
                    input(type='submit', value='create')
