extends layout

block layout-content
  div.View.LoginView
    div.login
      h1="Login"
      form(action="/auth" method="post")
        input(type="text" name="username" placeholder="Username" id="username" required)
        input(type="password" name="password" placeholder="Password" id="password" required)
        input(input type="submit" value="Login")
      