extends layout
block layout-content
    div.header
        h1='Management Page - '+id
    div.manage
        form(action='/manage/delete', method="post")
            button(type='submit', name="id", value=id)="delete"
        
